body
{
  background-color: white;
  font-family: 'Verdana';
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    width: 100%;
    -webkit-text-size-adjust: 100%;

  }
  html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}


  #horas, #lunes, #martes, #miercoles, #jueves, #viernes{
    float: left;
    width: 154px;
    text-align: center;
  }
  #detall-horas{
    float: left;
  }
  li { 
    height: 20px;
    padding: 5px;
    list-style: none;
  }
  #header-dias{
    height: 16px;
  }
  ul{
    list-style: none;
     padding: 0;
  }
  #ul-horas li, #ul-lunes li, #ul-martes li, #ul-miercoles li, #ul-jueves li, #ul-viernes li{
    width: 148px;
    border: 1px solid;
  }
  #agenda{
    padding:20px;
    width:960px;
    display: inline-block;;
  }
  #wrapper{
    text-align: center;
  }
